* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.main {
  width: 1200px;
  margin: auto;
}
.list .item {
  float: left;
  width: 20%;
}
.list .item .card {
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}
.list .item .card:hover {
    border-color: red;
}
.list .item .card:hover img {
    transform: scale(1.1);
}
.list .item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: all ease 0.3s;
  margin-bottom: 10px;
}
.list .item .name {
  font-size: 16px;
  min-height: 40px;
}
.list .item .discount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: #fff;
  padding: 4px 12px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.list .item .price {
  font-weight: bold;
  color: red;
}
.list .item .rating {
  color: rgb(224, 180, 6);
}
